package main

import (
	"fmt"
	"os"
)

func main() {
	input := readInput()
	fmt.Println(input[0:10], "...")
}

func readInput() string {
	file, err := os.ReadFile("./input.txt")
	if err != nil {
		panic(err)
	}

	return string(file)
}
